*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;    
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  color: whitesmoke;
}



.left-logo {
  font-size: xx-large;
  font-weight: bold;
  letter-spacing: 1px;
  color: #007bff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

 .down{
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #007bff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  color: #007bff;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  color: #007bff;
}

.nav-links a:hover {
  color: darkblue;
}

.navbar-space {
  height: 50px;
}